/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* PERSONALIZED FONTS */
@font-face {
    font-family: 'Beauty Mermaid';
    src: url('assets/fonts/beauty_mermaid.ttf');
}

@font-face {
    font-family: 'Beauty Mermaid';
    src: url('assets/fonts/beauty_mermaid_italic.ttf');
    font-style: italic;
}

/* UNIVERSEL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* GENERAL */
.container {
    margin: 0 auto;
    width: 1000px;
}
